<div class="fixed top-0 z-50 right-0 left-0 bg-[#15100A] text-gray-200  px-5 lg:px-20">
    <div class="flex h-16 items-center justify-between">
        <div class="flex items-center">
            <div class="mr-5">
                <img class="w-12" src="../../assets/images/neja-logo2.png" alt="NEJA" />
            </div>

            <div class="">
                <div class="flex space-x-4">
                    <a routerLink="/" class="text-gray-300">
                        NEJA Clothing
                    </a>
                    <div>
                        <button (click)="openNavbarContent('men')">Men</button>
                    </div>
                    <div>
                        <button (click)="openNavbarContent('women')">Women</button>
                    </div>

                </div>
            </div>
        </div>

        <div class="flex items-center">
            <button (click)="navigateTo('cart')" mat-icon-button>
                <mat-icon>shopping_cart</mat-icon>
            </button>

            <button *ngIf="true" mat-raised-button type="" color="accent">
                LOGIN
            </button>

            <div *ngIf="false" class="relative ml-3 flex items-center">
                <div class="flex items-center space-x-5">
                    <span class="font-bold text-lg">Umasha</span>
                    <button mat-button [matMenuTriggerFor]="profileMenu">
                        <img class="h-5 w-5 "
                            src="https://cdn.pixabay.com/photo/2017/01/31/19/07/avatar-2026510_640.png" alt="">
                    </button>

                    <mat-menu #profileMenu="matMenu">
                        <button mat-menu-item>Orders</button>
                        <button mat-menu-item>Profile</button>
                        <button mat-menu-item>Logout</button>
                    </mat-menu>
                </div>
            </div>

        </div>


    </div>
</div>